# dependencies
node_modules/

# environment variables
.env

# build output (optional, tapi biasanya dipakai)
dist/
build/

#test

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db